# Dependências
node_modules/
**/node_modules/

# Build
dist/
build/
**/dist/
**/build/

# Ambiente
.env
.env.local
**/.env
!**/.env.example

# Logs
*.log
npm-debug.log*

# Editor / SO
.vscode/
.idea/
.DS_Store

# Testes
coverage/
